<h1>Calculators#create</h1>
<p>Find me in app/views/calculators/create.html.erb</p>


        <%
=begin%>
 
            <p>Decking type</p>
            <div class=' material-list hidden'>
               
                <div ><p class=" btn btn-item">
                    <%= f.label :name %>:
                    <%= f.text_field :name %><br /></p>
                </div> 
     
                <p class=" btn btn-item pine">pine decking</p>
                <p class=" btn btn-item larch">larch decking</p>
                <p class=" btn btn-item balau">balau deckin</p>
            </div> 
        
<%
=end%>