<h1 class="page-header">3D design</h1>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
      <%= cl_image_tag("Deck%20Design/Design/garden-design-mill-hill.jpg", :transformation=>[
    {:height=>600, :width=>1200, :crop=>"fill"},
    {:gravity=>"center", :height=>400, :overlay=>"logo:deckDesign-logo.png", :opacity=>25, :width=>400, :crop=>"fill"}
    ]) %>
      </div>
      <div class="carousel-item">
      <%= cl_image_tag("Deck%20Design/Patio/limestone/limestone-circle.jpg", :transformation=>[
    {:height=>600, :width=>1200, :crop=>"fill"},
    {:gravity=>"center", :height=>400, :overlay=>"logo:deckDesign-logo.png", :opacity=>25, :width=>400, :crop=>"fill"}
    ]) %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("Deck%20Design/Patio/limestone/limestone-patio.jpg", :transformation=>[
    {:height=>600, :width=>1200, :crop=>"fill"},
    {:gravity=>"center", :height=>400, :overlay=>"logo:deckDesign-logo.png", :opacity=>25, :width=>400, :crop=>"fill"}
    ]) %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="decking-description">
    <h2 class="product-header-h1">3D Design Services </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque maxime est quae assumenda expedita voluptatibus ratione alias consectetur officiis deserunt laudantium temporibus natus, veritatis laboriosam aut debitis suscipit omnis nisi optio pariatur tempore doloremque. Nostrum praesentium repudiandae aliquid, nesciunt assumenda facilis aperiam sunt atque officiis eum tenetur tempore quae ipsam.</p>
  </div>
  <div class="gray"></div>