<div class="decking-types">
  <%= link_to deckings_budget_path, class:"links" do %>
    <h2>Budget Decking</h2>
  <% end %>
</div>
<div class="decking-types">
  <%= link_to deckings_softwood_path, class:"links" do %>
    <h2>Softwood Decking</h2>
  <% end %>
</div>
<div class="decking-types">
  <%= link_to deckings_hardwood_path, class:"links" do %>
    <h2>Hardwood Decking</h2>
  <% end %>
</div>
