<div class="container-home">
  <div class="material-list">
    <div class="material-types col-12">
      <%= link_to deckings_budget_path, class:"material-button" do %>
        <h2 class="material-names">Budget Decking</h2>
      <% end %>
    </div>
    <div class="material-types col-12">
      <%= link_to deckings_softwood_path, class:"material-button" do %>
        <h2 class="material-names">Softwood Decking</h2>
      <% end %>
    </div>
    <div class="material-types col-12">
      <%= link_to deckings_hardwood_path, class:"material-button" do %>
        <h2 class="material-names">Hardwood Decking</h2>
      <% end %>
    </div>
  </div>
</div>
