p {
  margin: 0;
  padding: 0;
}
.calculator-outline {
  margin-top: 1rem;

  box-shadow: 0px 2px 17px #888;
  #material-list {
    width: 100%;
    border: none;
    background: transparent;
    &:focus {
      border: none;
      outline: none;
    }
    &:active {
      border: none;
      outline: none;
    }
  }
  .material-items {
    margin-bottom: 5px;
    justify-content: center;
    .material-parameters {
      padding: 5px;
      box-shadow: 0px 2px 17px #888;
      margin: 5px;
      border-radius: 2px;
    }
    .summary {
      padding: 5px;
      box-shadow: 0px 2px 17px #888;
    }
    .estimated-cost {
      background: rgb(150, 150, 150);
      color: black;
      border-radius: 2px 0 0 2px;
      width: 20%;
    }
    .total-figure {
      width: 45%;
    }
    .book-now-button {
      background: rgb(30, 30, 30);
      color: white;
      border-radius: 0 2px 2px 0;
      width: 10%;
    }
    .dimensions {
      width: 10%;
    }
    .material-name {
      width: 20%;
    }
  }
  .summary-items {
    margin-bottom: 15px;
  }
}
.calculator-header {
  margin: 1rem;
  font-weight: 700;
}
.calculator-footer {
  margin: 1rem;
  font-weight: 700;
}
#fname {
  width: fit-content;
}
.hidden {
  display: none;
}
.btn-item {
  &:hover {
    background-color: rgb(180, 180, 180);
    padding: 5px 68px;
  }
}
.box-properties {
  border: none;
  background-color: inherit;
  width: fit-content;
  width: 100%;
}
.form-submit-btn {
  border: none;
  background-color: black;
  color: white;
  width: 100%;
}
.sum-up-btn {
  padding: 0;
  border: none;
}

//testing

label,
footer {
  font-family: sans-serif;
}

label {
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
}

footer {
  font-size: 0.8rem;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.output {
  background: center/cover no-repeat url("/media/cc0-images/hamster.jpg");
  position: relative;
}
