p {
  margin: 0;
  padding: 0;
}
.calculator-outline {
  margin-top: 1rem;

  box-shadow: 0px 2px 17px #888;
  .material-items {
    width: 60%;
    margin-bottom: 5px;
    justify-content: center;
    .material-parameters {
      padding: 5px;
      box-shadow: 0px 2px 17px #888;
      margin: 5px;
      border-radius: 2px;
    }
    .summary {
      padding: 5px;
      box-shadow: 0px 2px 17px #888;
    }
    .estimated-cost {
      background: rgb(150, 150, 150);
      color: black;
      border-radius: 2px 0 0 2px;
      width: 15%;
    }
    .total-figure {
      width: 31%;
    }
    .book-now-button {
      background: rgb(30, 30, 30);
      color: white;
      border-radius: 0 2px 2px 0;
      width: 10%;
    }
    .dimensions {
      width: 8%;
    }
    .material-name {
      width: 20%;
    }
  }
  .summary-items {
    margin-bottom: 15px;
  }
}
.calculator-header {
  margin: 1rem;
  font-weight: 700;
}
.calculator-footer {
  margin: 1rem;
  font-weight: 700;
}
#fname {
  width: fit-content;
}
.hidden {
  display: none;
}