.material-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  .material-types {
    margin-bottom: 20px;
   
    border-radius: 7px;
    text-align: center;
    .material-button {
      padding: 15px 20px;
      color: black;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }

.material-names {
  font-size: 4rem;
  padding: 15px 25px;
  font-family: 'Bebas Neue', cursive;
}

// GALLERY

.gallery-styling {
  height: 300px;
}