.material-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .material-types {
    margin-bottom: 20px;
    background-color: rgb(150, 150, 150);
    border-radius: 7px;
    text-align: center;
    &:hover {
      background: rgb(140, 140, 140);
    }
    .material-button {
      padding: 15px 20px;
      color: black;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
}
.material-names {
  font-size: 2rem;
  padding: 15px 25px;
}

// GALLERY

.gallery-styling {
  height: 300px;
}