.material-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 21vh;
 flex-direction: column;
}
  .material-types {
    border-radius: 7px;
    text-align: center;
    padding: 0 10px;
    width: 50%;
    &:hover{
      background: rgb(54, 53, 55);
      padding: 0 10px;
      height: 66px;
      color: white;
    }
    .material-button {
      padding: 15px 20px;
      color: black;
      &:hover {
        text-decoration: none;
        color: white;
  
      }
    }
  }
  .material-types-decking {
    border-radius: 7px;
    text-align: center;

    &:hover{
      padding: 0 10px;
   
      .material-button {
        text-decoration: none;
        color: white; 
      }
    }
    .material-button {
      padding: 15px 20px;
      color: black;
      &:hover {
        text-decoration: none;
        color: white;
  
      }
   
    }
  }

.material-names {
  font-size: 3rem;
  width: fit-content;
  font-family: 'Bebas Neue', cursive;
  margin: 0 auto;
  
}

.row {
  align-items: center;
  width: -webkit-fill-available;
  margin: 0;
}
// GALLERY

.gallery-styling {
  height: 300px;
}

.decking-description {

  background: rgb(240,240,240);
  margin-top: 2vh;

  h1 {
    padding: 15px 25px;
  }
  p {
    padding: 15px 25px;
    
  }
}
.btn-secondary  {
  background: rgb(82, 73, 66);
  border-color:rgb(82, 73, 66)
}
.gray{
  background: rgb(222, 213, 203);
  height: 2vh;
}
.sticky-modal {
  position: sticky;
  bottom: 9px;
    .btn {
      position: absolute;
      bottom: 22px;
      right: 10px;
    }
    .btn-secondary  {
      background: rgb(82, 73, 66);
      border-color:rgb(82, 73, 66)
    }
}