// Specific CSS for your home-page
.links {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
    .logo-image {
      text-align: center;
    }
.container-home {
  background-image: url('https://res.cloudinary.com/dyvaldrrq/image/upload/c_fill,w_1042/v1588277202/Deck%20Design/Decking/hardwood/hardwood-decking-modern.jpg');
  height: 100vh;
  .homepage-header {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
  }
}