body {
  margin: 0;
  padding: 0;
}
a {
  color: rgb(222, 213, 203);
  &:hover {
    color: white;
    text-decoration: none;
  }
  &:active {
    color: white;
  }
}

// Specific CSS for your home-page
.container {
  min-height: 50vh;
}
.links {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-image {
  text-align: center;
  width: 100px;
}
.container-home {
  background-image: url("https://res.cloudinary.com/dyvaldrrq/image/upload/c_crop,g_south,h_2800/v1588277202/Deck%20Design/Decking/hardwood/hardwood-decking-modern.jpg");
  background-size: cover;
  height: 50vh;

  .homepage-header {
    padding-top: 345px;
    width: 54%;
    padding-left: 80px;
    h1 {
      font-family: "Bebas Neue", cursive;
    }
    .search-homepage {
      .quotes-padding {
        padding: 1rem;
      }
      .search-input {
        .input-field-padding {
          padding: 10px 5px 10px 0;
          border-radius: 2px;
          .input-field {
            height: 47px;
            width: 100%;
          }
        }
      }
    }
  }
}
.product-header-h1 {
  text-align: center;
}
.home-page-bottom {
  background: rgb(210, 210, 210);
  h2 {
    margin-left: 44px;
    padding-top: 44px;
  }
  .obj-center {
    justify-content: space-around;
  }
  .card {
    margin: 20px;
  }
}
