// Specific CSS for your home-page
.container {
  background: rgba(134, 131, 109,0.8);
}
.links {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
    .logo-image {
      text-align: center;
      width: 100px;
    }
.container-home {

  height: 100vh;
  .homepage-header {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
  }
}