.social-bar {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  padding-inline-start:0;
  text-align: center;
  z-index: 2;
  list-style: none;
  width: 40px;
 
  width: auto;
  .fab  {
    font-size: 2rem;
    color: black;
    &:hover {
      color: #363537;
    }
  }
  .fas {
    color: black;
    font-size: 2rem;
    &:hover {
      color: #363537;
    }
  }
  .fa-envelope {
        font-size: 1.75rem;
      }
  li {
    padding: 5px;
  }
}