<div class="container-home">
  <div class="container-overlay">
    <div class="empty-box"></div>
    <div class="about-box">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex iure quibusdam eos optio, quia blanditiis provident repellendus eligendi placeat culpa ipsum vel vitae eius illo natus deleniti cupiditate assumenda a, dicta alias ullam praesentium. Quo vero optio non consequuntur explicabo beatae repellat accusamus facilis deserunt quas voluptates quisquam inventore aliquid quia qui, nesciunt molestiae praesentium totam nostrum velit deleniti repudiandae. Qui quam distinctio neque nulla? Voluptatem corporis obcaecati exercitationem doloribus fuga repellendus ipsam. Explicabo magni nulla unde est doloremque, temporibus cum qui esse? Ullam maiores placeat molestias consequatur officia perferendis pariatur similique, magnam ducimus, voluptatibus reiciendis distinctio alias eius necessitatibus nulla voluptate aspernatur expedita asperiores! Nam porro, fugiat mollitia facere excepturi earum cum molestiae vel quidem dolorum rem, natus, sunt nostrum et iure ad illo?</p>
    </div>
    <div class="empty-box"></div>
  </div>
</div>