<div class="row calculator-outline">
    <h1 class="col-sm-12 text-center calculator-header">Material calculator</h1>
    <div class="material-items row col-sm-12">
        <div class="btn material-parameters material-name">
            <p>Material type</p>
            
                <p class=" btn material-list hidden">Decking</p>
                <p class=" btn material-list hidden">Patio</p>
                <p class=" btn material-list hidden">Fence</p>
                <p class=" btn material-list hidden">Turf</p>
                <p class=" btn material-list hidden">Cladding</p>
                <p class=" btn material-list hidden">Log Cabins</p>
                <p class=" btn material-list hidden">Garden Design</p>
                <p class=" btn material-list hidden">Planting</p>
            
        </div>
        <div class="material-parameters dimensions">
            <p>length</p>
        </div>
        <div class="material-parameters dimensions">
            <p>width</p>
        </div>
        <div class="material-parameters dimensions">
            <p>height</p>
        </div>
        <div class="material-parameters dimensions">
            <p>£</p>
        </div>
    </div>
    <div class="material-items row col-sm-12 summary-items">
        <div class="summary estimated-cost">
            <p>Estimeted cost</p>
        </div>
        <div class="summary total-figure">
            <p>£</p>
        </div>
        <div class="summary book-now-button">
            <p>Book Now</p>
        </div>
    </div>
    <h2 class="col-sm-12 text-center calculator-footer">Additional transport costs may apply</h2>
</div>