<div class="row calculator-outline">
    <h1 class="col-sm-12 text-center calculator-header">Material calculator</h1>
    <div class="material-items row col-sm-12">
        <div class="btn material-parameters material-name">
            <p>Material type</p>
            <div class='row material-list hidden'>
                <div ><p class=" btn ">Decking</p></div>
                <div ><p class=" btn ">Patio</p></div>
                <div ><p class=" btn ">Fence</p></div>
                <div ><p class=" btn ">Turf</p></div>
                <div ><p class=" btn ">Cladding</p></div>
                <div ><p class=" btn ">Log Cabins</p></div>
                <div ><p class=" btn ">Garden Design</p></div>
                <div ><p class=" btn ">Planting</p></div>
            </div> 
        </div>
        <div class="material-parameters dimensions">
            <p>length</p>
        </div>
        <div class="material-parameters dimensions">
            <p>width</p>
        </div>
        <div class="material-parameters dimensions">
            <p>height</p>
        </div>
        <div class="material-parameters dimensions">
            <p>£</p>
        </div>
    </div>
    <div class="material-items row col-sm-12 summary-items">
        <div class="summary estimated-cost">
            <p>Estimeted cost</p>
        </div>
        <div class="summary total-figure">
            <p>£</p>
        </div>
        <div class="summary book-now-button">
            <p>Book Now</p>
        </div>
    </div>
    <h2 class="col-sm-12 text-center calculator-footer">Additional transport costs may apply</h2>
</div>