<div class="row calculator-outline">
    <h1 class="col-sm-12 text-center calculator-header">Material calculator</h1>
    <div class="material-items row col-sm-12">
        <div class="btn material-parameters material-name ">
            <p>Material type</p>
            <div class="dropdown">
                <div>
                    <div class="btn decking-type">
                        <p>Decking Type</p>
                    </div>
                    <div class="btn decking-items hidden">
                        <p>Budget</p>
                    </div>
                    <div class="btn decking-items hidden">
                        <p>Softwood</p>
                    </div>
                    <div class="btn decking-items hidden">
                        <p>Hardwood</p>
                    </div>
                    <div class="btn decking-items hidden">
                        <p>Composite</p>
                    </div>
                </div>
                <div>
                    <div class="btn">
                        <p>Patio Type</p>
                    </div>
                </div>
                <div>
                    <div class="btn">
                        <p>Artificial Grass Type</p>
                    </div>
                </div>
                <div>
                    <div class="btn">
                        <p>Fencing Type</p>
                    </div>
                </div>
                <div>
                    <div class="btn">
                        <p>Turf Type</p>
                    </div>
                </div>
                <div>
                    <div class="btn">
                        <p>Edging Type</p>
                    </div>
                </div>
                <div>
                    <div class="btn">
                        <p>Decorative Aggregate Type</p>
                    </div>
                </div>
                <div>
                    <div class="btn">
                        <p>Driveway Type</p>
                    </div>
                </div>
                <div>
                    <div class="btn">
                        <p>Area To Be Prepared</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="material-parameters dimensions bg-light-gray">
            <p>length</p>
        </div>
        <div class="material-parameters dimensions bg-light-gray">
            <p>width</p>
        </div>
        <div class="material-parameters dimensions bg-light-gray">
            <p>height</p>
        </div>
        <div class="material-parameters dimensions bg-light-gray">
            <p>£</p>
        </div>
    </div>
    <div class="material-items row col-sm-12">
        <div class="material-parameters material-name text-center">
            <p>Tones of Waste</p>
        </div>
        <div class="material-parameters waste-amount text-center">
            <p>...tons</p>
        </div>
    </div>
    <div class="material-items row col-sm-12 summary-items">
        <div class="summary estimated-cost text-center">
            <p>Estimeted cost</p>
        </div>
        <div class="summary total-figure">
            <p>£</p>
        </div>
        <div class="btn summary book-now-button ">
            <p>Book Now</p>
        </div>
    </div>
    <h2 class="col-sm-12 text-center calculator-footer">Additional transport costs may apply</h2>
</div>