<div class="container">
  <div class="container-home">
   
    <h1 class="homepage-header">Deck Design</h1>
    <div class="services-box">
      <%= link_to designs_index_path, class:"links" do %>
        <div class="col-12 services-provided garden-design-box">
          <h2>Garden Design</h2>  
        </div>
      <% end %>
      <%= link_to deckings_index_path, class:"links" do %>
        <div class="col-12 services-provided decking-box">
          <h2>Decking</h2>
        </div>
      <% end %>

      <%= link_to patios_index_path, class:"links" do %>
        <div class="col-12 services-provided patio-box">
          <h2>Patio</h2>
        </div>
      <% end %>
    </div>
  </div>
</div>
