
  <div class="container-home">
    <div class="homepage-header">
      <h1 >Create your garden a perfect outdoor living space with Deck Design</h1> 
      <%= link_to forms_new_path do %>
      <div class="btn btn-secondary btn-lg">Enquiry</div>
      <% end %>
    </div>
  </div>


