<div class="container-home">
  <div class="material-list">
    <div class="material-types col-12">
      <%= link_to patios_sandstone_path, class:"material-button" do %>
        <h2 class="material-names">Sandstone</h2>
      <% end %>
    </div>
    <div class="material-types col-12">
      <%= link_to patios_limestone_path, class:"material-button" do %>
        <h2 class="material-names">Limstone</h2>
      <% end %>
    </div>
    <div class="material-types col-12">
      <%= link_to patios_granite_path, class:"material-button" do %>
        <h2 class="material-names">Granite</h2>        
      <% end %>
    </div>
  </div>
</div>