<div class="patio-types">
  <%= link_to patios_sandstone_path, class:"links" do %>
    <h2>Sandstone</h2>
  <% end %>
</div>
<div class="patio-types">
  <%= link_to patios_limestone_path, class:"links" do %>
    <h2>Limstone</h2>
  <% end %>
</div>
<div class="patio-types">
  <%= link_to patios_granite_path, class:"links" do %>
    <h2>Granite</h2>
  <% end %>
</div>