.page-header{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  background: rgb(240,240,240);
  padding: 15px;

}
.page-links {
  display: flex;
  &:hover{
    text-decoration: none;
  }
  h2 {
    color: black;
   
    padding: 15px 25px;
    border-radius: 7px;
    font-family: 'Bebas Neue', cursive;
    &:hover {
      text-decoration: none;
      color: white;
      background: rgba(140, 140, 140, 0.1);
    }
  }
}